@model EnhancerForBusiness_Web.Models.Product

@{
    ViewBag.Title = "Eliminar";
}

@if (Model != null)
{
    <h2>Eliminar Producto</h2>

    <p>
        ¿Está seguro de que quiere eliminar el producto seleccionado?
        <strong>@Model.Title</strong>?
    </p>

    using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Eliminar" />
        </p>
        <p>
            @Html.ActionLink("Regresar", "Index")
        </p>
    }
}
else
{
    @Html.Label(null, "No se puede localizar el producto")
}
