<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IsrvCategoria" />
        <binding name="BasicHttpBinding_IsrvCliente" />
        <binding name="BasicHttpBinding_IsrvCompra" />
        <binding name="BasicHttpBinding_IsrvDetalleCompra" />
        <binding name="BasicHttpBinding_IsrvDetalleVenta" />
        <binding name="BasicHttpBinding_IsrvProducto" />
        <binding name="BasicHttpBinding_IsrvProveedor" />
        <binding name="BasicHttpBinding_IsrvVenta" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54539/srvCategoria.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsrvCategoria" contract="srvCategoria.IsrvCategoria" name="BasicHttpBinding_IsrvCategoria" />
      <endpoint address="http://localhost:54539/srvCliente.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsrvCliente" contract="srvCliente.IsrvCliente" name="BasicHttpBinding_IsrvCliente" />
      <endpoint address="http://localhost:54539/srvCompra.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsrvCompra" contract="srvCompra.IsrvCompra" name="BasicHttpBinding_IsrvCompra" />
      <endpoint address="http://localhost:54539/srvDetalleCompra.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsrvDetalleCompra" contract="srvDetalleCompra.IsrvDetalleCompra" name="BasicHttpBinding_IsrvDetalleCompra" />
      <endpoint address="http://localhost:54539/srvDetalleVenta.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsrvDetalleVenta" contract="srvDetalleVenta.IsrvDetalleVenta" name="BasicHttpBinding_IsrvDetalleVenta" />
      <endpoint address="http://localhost:54539/srvProducto.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsrvProducto" contract="srvProducto.IsrvProducto" name="BasicHttpBinding_IsrvProducto" />
      <endpoint address="http://localhost:54539/srvProveedor.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsrvProveedor" contract="srvProveedor.IsrvProveedor" name="BasicHttpBinding_IsrvProveedor" />
      <endpoint address="http://localhost:54539/srvVenta.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsrvVenta" contract="srvVenta.IsrvVenta" name="BasicHttpBinding_IsrvVenta" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="CMEntidades" connectionString="metadata=res://*/Models.CM.csdl|res://*/Models.CM.ssdl|res://*/Models.CM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TJIN3FB;initial catalog=MRCM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SAEntidades" connectionString="metadata=res://*/Models.SA.csdl|res://*/Models.SA.ssdl|res://*/Models.SA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TJIN3FB;initial catalog=SeguridadApp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>