@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jonathan Jesús Chacón Zeledón<br />

    Alajuela, Poás<br />

    <strong>Teléfono: </strong> <a>6316-8665</a><br />

    <strong>Soporte: </strong>   <a href="mailto:jchzinfo@gmail.com">jchzinfo@gmail.com</a><br />
</address>