@model IEnumerable<EnhancerForBusiness_Web.Models.Product>
@{
    ViewBag.Title = "Página Principal";
}
<div class="jumbotron">
    <h1>Recomendaciones de la tienda</h1>
    <title>Sus recomendaciones</title>
    <h2>Sus recomendaciones son:</h2>
    Frenos Brembo
    Neumáticos
</div>

     