<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logfile" xsi:type="File" fileName="C:\EnhancerForBusiness\EnhancerForBusiness\Logs\SISTEMA-log-${date:format=ddMMyyyy}.txt"
                layout="${date:format=dd/MM/yyyy HH\:mm\:ss}: ${level}: ${callsite}: ${message:} ${exception:format=tostring}" />
	</targets>
	<rules>
		<logger name="*" levels="Info,Warn,Error" writeTo="logfile" />
	</rules>
</nlog>
