@{
    ViewBag.Title = "Confirmar Correo Electrónico";
}
<section>
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-6">
            <div>
                <p>
                    Gracias por confirmar su correo electrónico. Por favor, @Html.ActionLink("haga clic aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</section>