@{
    ViewBag.Title = "Contraseña Olvidada";
}

<section>
    <h1>@ViewBag.Title</h1>
    <div class="row">
        <div class="col-md-6">
            <div>
                <p>
                    Por favor, compruebe su correo electrónico para restablecer su contraseña.
                </p>
                <p>
                    For demo purpose only: @Html.ActionLink("Haz clic aquí para restablecer la contraseña", "ResetPassword", new { code = ViewBag.Code })
                </p>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</section>