@{
    ViewBag.Title = "Confirmación de Registro";
}
<section>
    <h1>@ViewBag.Title</h1>
    <div class="row">
        <div class="col-md-6">
            <div>
                <p>
                    Por favor, compruebe su correo electrónico para activar su cuenta.
                </p>
                <p>
                    Demo/testing purposes only: The sample displays the code and user id in the page: @Html.ActionLink("Haga clic aquí para confirmar su correo electrónico: ", "ConfirmEmail", new { code = ViewBag.Code, userId = ViewBag.UserId })
                </p>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</section>