@{
    ViewBag.Title = "Home Page";
}

<div class="text-center jumbotron">
    <h1>Moto Repuestos Cholo Motos</h1>
    <p class="lead">
    </p>
    <p class="lead">
       Bienvenido nuevamente, recuerde hacer uso del sistema de manera responsable
    </p>
</div>