@{
    ViewBag.Title = "Cuenta Bloqueada";
}
<section>
    <h2>Cuenta Bloqueada</h2>
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-danger">Esta cuenta ha sido bloqueada, por favor inténtelo más tarde.</h3>
        </div>
        <div class="col-md-6"></div>
    </div>
</section>
