@model EnhancerForBusiness_Web.Models.Category
@{
    ViewBag.Title = "Buscar productos";
}

<section class="section-alt">
    <h2>@Model.Name</h2>
    @Html.Partial("_ProductList", Model.Products)
</section>
